<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragment/config :: metaConfig">
    </th:block>
    <title>Corder [[${cmainKor}]]</title>

</head>
<body class="flex h-full select-auto flex-col font-sans text-gray-900 antialiased dark:bg-gray-800 dark:text-gray-100">
<th:block th:replace="fragment/header :: commonHeader">
</th:block>
<main class="mx-auto mt-2 w-full max-w-7xl px-4 lg:mt-[18px] lg:px-0 ">
    <div class="flex lg:space-x-10 ">
        <div class="hidden w-[180px] shrink-0 lg:block ">
            <div class="flex items-center justify-center rounded-md">
                <div class="flex items-center justify-center rounded-md">
                    <a class="flex flex-col items-center" href="/supports/together">
                        <img src="/imgs/zibpalm.png" class="" alt="">
                    </a>
                </div>
                <!--광고?-->
            </div>
            <div class="mt-10 mb-8">
                <div class="hidden lg:flex">
                    <div class="flex items-center justify-center rounded-md">
                        <a class="flex flex-col items-center" href="/supports/together">
                            <img src="/imgs/skream.png">
                        </a>
                    </div>
                    <!--광고?-->
                </div>
            </div>
            <div class="my-8">
                <div>
                    <div class="flex items-center justify-center rounded-md">
                        <a class="flex flex-col items-center" href="/supports/together">
                            <img src="/imgs/bom.png">
                        </a>
                    </div>
                    <!--광고?-->
                </div>
            </div>
        </div>
        <div class="w-full min-w-0 flex-auto lg:static lg:max-h-full lg:overflow-visible">
            <div class="min-w-0 flex-auto">
                <div class="hidden items-center lg:flex">
                    <img class="h-[140px] w-full" src="/imgs/centerBanner.png">
                </div>
                <div class="relative my-7">
                    <div class="h-16 overflow-hidden rounded-xl bg-blue-50 dark:bg-gray-700 sm:h-20">
                        <div class="h-full rounded-xl bg-left-bottom opacity-10" style="background-image: url(&quot;pattern.svg&quot;);">
                        </div>
                    </div>
                    <div class="absolute top-0 flex h-full w-full flex-col items-center px-6 py-3 sm:py-4 sm:px-8">
                        <span class="w-full text-base font-semibold sm:text-xl" th:text="${cmainKor}"></span>
                        <aside class="hidden w-full font-normal sm:block sm:text-sm">지식을 공유하고 새로운 아이디어를 얻어보세요</aside>
                    </div>
                    <div class="absolute -top-1.5 right-5 h-[70px] w-[90px] overflow-y-hidden sm:right-14 sm:h-[86px] sm:w-[110px]">

                    </div>
                </div>
                <div class="justify-between relative my-6 flex items-center">
                    <div class="hidden flex-none sm:inline">
                        <a class="flex h-9 items-center space-x-1 rounded-md bg-blue-500 py-2 px-3 text-white shadow-sm hover:bg-blue-400 sm:pr-4" th:href="@{|/${cmain}/new|}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-4 w-4">
                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"></path></svg>
                            <span class="inline text-sm font-medium hover:no-underline sm:leading-5">작성하기</span>
                        </a>
                    </div>
                    <div class="flex grow flex-col gap-y-4">
                        <div class="flex sm:justify-center">
                            <nav class="scroll-hidden flex space-x-3 overflow-y-scroll lg:space-x-8" aria-label="Tabs">
                                <th:block th:if="${#strings.equals(ccode,'news')}">
                                    <button class="clickedCategory bg-gray-100 dark:bg-gray-700 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" aria-current="page" th:onclick="|location.href='@{|/${cmain}/news|}'|">Tech뉴스</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" th:onclick="|location.href='@{|/${cmain}/tips|}'|">팁</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" th:onclick="|location.href='@{|/${cmain}/columns|}'|">컬럼</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5"  th:onclick="|location.href='@{|/${cmain}/review|}'|">리뷰</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5"  th:onclick="|location.href='@{|/${cmain}|}'|">전체</button>
                                </th:block>
                                <th:block th:if="${#strings.equals(ccode,'tips')}">
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" th:onclick="|location.href='@{|/${cmain}/news|}'|">Tech뉴스</button>
                                    <button class="clickedCategory bg-gray-100 dark:bg-gray-700 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" aria-current="page" th:onclick="|location.href='@{|/${cmain}/tips|}'|">팁</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" th:onclick="|location.href='@{|/${cmain}/columns|}'|">컬럼</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5"  th:onclick="|location.href='@{|/${cmain}/review|}'|">리뷰</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5"  th:onclick="|location.href='@{|/${cmain}|}'|">전체</button>
                                </th:block>
                                <th:block th:if="${#strings.equals(ccode,'columns')}">
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" th:onclick="|location.href='@{|/${cmain}/news|}'|">Tech뉴스</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" th:onclick="|location.href='@{|/${cmain}/tips|}'|">팁</button>
                                    <button class="clickedCategory bg-gray-100 dark:bg-gray-700 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" aria-current="page" th:onclick="|location.href='@{|/${cmain}/columns|}'|">컬럼</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5"  th:onclick="|location.href='@{|/${cmain}/review|}'|">리뷰</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5"  th:onclick="|location.href='@{|/${cmain}|}'|">전체</button>
                                </th:block>
                                <th:block th:if="${#strings.equals(ccode,'review')}">
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" th:onclick="|location.href='@{|/${cmain}/news|}'|">Tech뉴스</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" th:onclick="|location.href='@{|/${cmain}/tips|}'|">팁</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5"  th:onclick="|location.href='@{|/${cmain}/columns|}'|">컬럼</button>
                                    <button class="clickedCategory bg-gray-100 dark:bg-gray-700 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" aria-current="page" th:onclick="|location.href='@{|/${cmain}/review|}'|">리뷰</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5"  th:onclick="|location.href='@{|/${cmain}|}'|">전체</button>
                                </th:block>
                                <th:block th:unless="${ccode}">
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" th:onclick="|location.href='@{|/${cmain}/news|}'|">Tech뉴스</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" th:onclick="|location.href='@{|/${cmain}/tips|}'|">팁</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5" th:onclick="|location.href='@{|/${cmain}/columns|}'|">컬럼</button>
                                    <button class="readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5"  th:onclick="|location.href='@{|/${cmain}/review|}'|">리뷰</button>
                                    <button class="clickedCategory bg-gray-100 dark:bg-gray-700 flex shrink-0 rounded-md py-2 px-3 text-sm font-medium sm:text-base sm:leading-5"  aria-current="page" th:onclick="|location.href='@{|/${cmain}|}'|">전체</button>
                                </th:block>
                            </nav>
                        </div>
                        <div class="justify-between flex sm:hidden">
                            <a class="flex h-9 items-center space-x-1 rounded-md bg-blue-500 py-2 px-3 text-white shadow-sm hover:bg-blue-400 sm:pr-4" th:href="@{|/${cmain}/new|}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-4 w-4">
                                    <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"></path></svg>
                                <span class="inline text-sm font-medium hover:no-underline sm:leading-5">작성하기</span>
                            </a>

                        </div>
                    </div>
                    <div class="hidden flex-none sm:inline">
                        <div class="relative inline-block text-left" data-headlessui-state="">
                            <div>
                                <th:block th:if="${sort}">
                                    <th:block th:switch="${sort}">
                                        <button th:case="udate" class="showSort inline-flex h-9 items-center justify-center space-x-0.5 rounded-md border border-gray-500/30 bg-white py-2 px-3.5 text-gray-700 shadow-sm hover:border-gray-500/70 dark:bg-gray-700 dark:text-gray-300 sm:px-3 sm:pr-4" id="showSortBtn" type="button" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5"><path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0l-3.75-3.75M17.25 21L21 17.25"></path></svg>최신순
                                        </button>
                                        <button th:case="vote" class="showSort inline-flex h-9 items-center justify-center space-x-0.5 rounded-md border border-gray-500/30 bg-white py-2 px-3.5 text-gray-700 shadow-sm hover:border-gray-500/70 dark:bg-gray-700 dark:text-gray-300 sm:px-3 sm:pr-4" id="showSortBtn" type="button" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5"><path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0l-3.75-3.75M17.25 21L21 17.25"></path></svg>추천순
                                        </button>
                                        <button th:case="lookup" class="showSort inline-flex h-9 items-center justify-center space-x-0.5 rounded-md border border-gray-500/30 bg-white py-2 px-3.5 text-gray-700 shadow-sm hover:border-gray-500/70 dark:bg-gray-700 dark:text-gray-300 sm:px-3 sm:pr-4" id="showSortBtn" type="button" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5"><path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0l-3.75-3.75M17.25 21L21 17.25"></path></svg>조회순
                                        </button>
                                    </th:block>
                                </th:block>
                                <th:block th:unless="${sort}">
                                    <button class="showSort inline-flex h-9 items-center justify-center space-x-0.5 rounded-md border border-gray-500/30 bg-white py-2 px-3.5 text-gray-700 shadow-sm hover:border-gray-500/70 dark:bg-gray-700 dark:text-gray-300 sm:px-3 sm:pr-4" id="showSortBtn" type="button" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5"><path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0l-3.75-3.75M17.25 21L21 17.25"></path></svg>최신순
                                    </button>
                                </th:block>
                            </div>
                            <div class="popupSort absolute right-0 mt-2 w-[152px] origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:border dark:border-gray-700 dark:bg-gray-800 md:mt-4 transform opacity-100 scale-100" aria-labelledby="headlessui-menu-button-:r3k:" id="headlessui-menu-items-:r4v:" role="menu" tabindex="0" style="display:none;">
                                <div class="popupSort py-1" role="none">
                                    <th:block th:if="${ccode}">
                                        <form name="sortForm" method="get" th:action="@{|/${cmain}/${ccode}?|}">
                                            <input type="hidden" name="sort" id="sortInput" value=""/>
                                            <input type="hidden" name="kw" id="searchInput" value=""/>
                                            <button class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 block px-4 py-2 text-sm" id="headlessui-menu-item-:r50:" role="menuitem" tabindex="-1" value="rdate" name="rdate" data-headlessui-state="" type="button" onclick="getRdateVal()">최신순</button>
                                            <button class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 block px-4 py-2 text-sm" id="headlessui-menu-item-:r51:" role="menuitem" tabindex="-1" value="vote" name="vote" data-headlessui-state="" type="button" onclick="getVoteVal()">추천순</button>
                                            <button class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 block px-4 py-2 text-sm" id="headlessui-menu-item-:r54:" role="menuitem" tabindex="-1" value="lookup" name="lookup" data-headlessui-state="" type="button" onclick="getLookupVal()">조회순</button>
                                        </form>
                                    </th:block>
                                    <th:block th:unless="${ccode}">
                                        <form name="sortForm" method="get" th:action="@{|/${cmain}?|}">
                                            <input type="hidden" name="sort" id="sortInput" value=""/>
                                            <input type="hidden" name="kw" id="searchInput" value=""/>
                                            <button class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 block px-4 py-2 text-sm" id="headlessui-menu-item-:r50:" role="menuitem" tabindex="-1" value="rdate" name="rdate" data-headlessui-state="" type="button" onclick="getRdateVal()">최신순</button>
                                            <button class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 block px-4 py-2 text-sm" id="headlessui-menu-item-:r51:" role="menuitem" tabindex="-1" value="vote" name="vote" data-headlessui-state="" type="button" onclick="getVoteVal()">추천순</button>
                                            <button class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 block px-4 py-2 text-sm" id="headlessui-menu-item-:r54:" role="menuitem" tabindex="-1" value="lookup" name="lookup" data-headlessui-state="" type="button" onclick="getLookupVal()">조회순</button>
                                        </form>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center border-y border-y-gray-500/30 py-4 dark:border-y-gray-500/70 sm:gap-x-36">
                    <div class="hidden w-44 justify-start sm:flex">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5 text-gray-500 hover:cursor-pointer hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200"><path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"></path></svg>
                    </div>
                    <div class="flex grow flex-col gap-y-4">
                        <div class="hidden sm:inline">
                            <form name="search" method="get">
                                <div class="flex h-8 items-center rounded-[43px] border border-gray-300 py-0 transition-colors focus-within:border-blue-500 focus-within:ring-1 focus-within:ring-blue-500 dark:border-gray-700 dark:bg-gray-700">
                                    <button class="-my-0.5 -mr-1.5 flex h-8 w-8 flex-shrink-0 items-center justify-center transition duration-300"><span class="sr-only">Search Bar</span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-3.5 w-3.5 text-gray-500 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path></svg>
                                    </button>
                                    <th:block th:if="${ccode}">
                                        <th:block th:if="${kw}">
                                            <input class="w-full border-none bg-transparent p-0 pr-2 text-sm font-normal placeholder-gray-500/80 focus:border-gray-500 focus:outline-none focus:ring-0" type="text" th:placeholder="|${ccodeKor}내에서 검색|" name="kw" th:value="${kw}" th:onkeydown="enterCheck(this)">
                                        </th:block>
                                        <th:block th:unless="${kw}">
                                            <input class="w-full border-none bg-transparent p-0 pr-2 text-sm font-normal placeholder-gray-500/80 focus:border-gray-500 focus:outline-none focus:ring-0" type="text" th:placeholder="|${ccodeKor}내에서 검색|" name="kw" value="" th:onkeydown="enterCheck(this)">
                                        </th:block>
                                    </th:block>
                                    <th:block th:unless="${ccode}">
                                        <th:block th:if="${kw}">
                                            <input class="w-full border-none bg-transparent p-0 pr-2 text-sm font-normal placeholder-gray-500/80 focus:border-gray-500 focus:outline-none focus:ring-0" type="text"  th:placeholder="|${cmainKor}내에서 검색|" name="kw" th:value="${kw}" th:onkeydown="enterCheck(this)">
                                        </th:block>
                                        <th:block th:unless="${kw}">
                                            <input class="w-full border-none bg-transparent p-0 pr-2 text-sm font-normal placeholder-gray-500/80 focus:border-gray-500 focus:outline-none focus:ring-0" type="text" th:placeholder="|${cmainKor}내에서 검색|" name="kw" value="" th:onkeydown="enterCheck(this)">
                                        </th:block>
                                    </th:block>
                                </div>
                            </form>
                        </div>
                        <div class="flex justify-between sm:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5 text-gray-500 hover:cursor-pointer hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200"><path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"></path></svg>
                            <div class="flex gap-x-5">
                                <div class="text-sm font-normal text-gray-600 dark:text-gray-400">
                                    <span class="text-gray-900 dark:text-gray-100">[[${listResult.page+1}]]</span> / [[${listResult.totalPageCount}]] 페이지</div>
                                <div class="flex items-center space-x-4 text-gray-600 dark:text-gray-400">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="text-gray-300 dark:text-gray-700 h-4 w-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="hover:cursor-pointer hover:text-blue-500 dark:hover:text-blue-200 h-4 w-4"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden w-44 justify-end sm:flex">
                        <div class="flex gap-x-5">
                            <div class="text-sm font-normal text-gray-600 dark:text-gray-400">
                                <span class="text-gray-900 dark:text-gray-100">[[${listResult.page+1}]]</span> / [[${listResult.totalPageCount}]] 페이지
                            </div>
                            <div class="flex items-center space-x-4 text-gray-600 dark:text-gray-400">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="text-gray-300 dark:text-gray-700 h-4 w-4"><path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path></svg><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="hover:cursor-pointer hover:text-blue-500 dark:hover:text-blue-200 h-4 w-4"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-9 sm:mb-16">
                    <div class="overflow-hidden">
                        <ul class="divide-y divide-gray-500/30 dark:divide-gray-500/70">
                            <!-- 공지사항 -->
                            <th:block th:if="${noticeList.list}" th:each="notice,i : ${noticeList.list}">
                                <th:block th:if="${i.index} lt 3">
                                    <li class="flex flex-col bg-blue-50 py-4 px-2 dark:bg-gray-700 sm:px-2.5">
                                        <div class="flex shrink-0 items-center gap-x-1">
                                            <span class="text-xs text-gray-700 dark:text-gray-300 sm:text-sm" th:text="${#temporals.format(notice.udate, 'MM.dd HH:mm')}"></span>
                                        </div>
                                        <div class="my-2">
                                            <a th:text="${notice.title}" class="line-clamp-1 w-fit truncate whitespace-normal break-all text-sm font-semibold leading-6 text-gray-900 hover:text-blue-500 dark:text-gray-100 dark:hover:text-blue-200 sm:text-base" th:href="@{'/articles/'+${notice.bid}}"></a>
                                        </div>
                                        <div class="flex">
                                            <div class="flex flex-1 items-center gap-x-3">
                                                <a class="shrink-0 rounded border border-gray-500/30 bg-white py-0.5 px-2.5 text-xs font-medium text-blue-500 hover:text-blue-300 dark:border-gray-500/70 dark:bg-gray-600 dark:text-gray-100 dark:hover:text-blue-200" th:href="@{'/notice/'}">공지사항</a>
                                            </div>
                                            <div class="flex items-center gap-x-2 text-gray-700 dark:text-gray-300">
                                                <div class="inline-flex items-center space-x-0.5 text-xs sm:text-sm"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5"><path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg><span class="font-medium" th:text="${notice.lookup}"></span><span class="sr-only">views</span>
                                                </div>
                                                <div class="inline-flex items-center space-x-0.5 text-xs sm:text-sm"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z">
                                                    </path>
                                                </svg>
                                                    <span class="font-medium">[[${notice.commentCount}]]</span><span class="sr-only">comments</span>
                                                </div>
                                                <div class="inline-flex items-center -space-x-0.5 text-xs sm:text-sm"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path></svg><span class="font-medium" th:text="${notice.vote}"></span><span class="sr-only">likes</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </th:block>
                            </th:block>
                            <!-- 공지사항끝 -->

                            <li class="py-4" th:if="${listResult.totalCount == 0}">
                                <div class="flex flex-col">
                                    <p> 데이터가 없습니다. </p>
                                </div>
                            </li>
                            <th:block th:each="result : ${listResult.list}">
                                <li class="py-4">
                                    <div class="flex flex-col">
                                        <div class="flex shrink-0 items-center gap-x-1">
                                            <a th:href="@{'users/' + ${result.mid}}">
                                                <th:block th:if="${result.fname}!=null">
                                                    <th:block th:with="extension=${#strings.substring(result.fname, #strings.indexOf(result.fname, '.'), result.fname.length)}">
                                                        <th:block th:if="${#strings.contains('.jpg|.png|.jpeg|.ico|.gif', extension)}">
                                                            <div class="items">
                                                                <img class="h-5 w-5 rounded-full" th:src="|/myinfo/images/${result.fname}|" width="150" height="150" alt="프로필 사진">
                                                            </div>
                                                        </th:block>
                                                    </th:block>
                                                </th:block>
                                                <th:block th:if="${result.fname}==null">
                                                    <img class="h-5 w-5 rounded-full" src="https://lh3.googleusercontent.com/a/AGNmyxb5ApjZk7OhQHlKt26gHX-K4ztvfBvfxvQgbLxfPg=s96-c" alt="프로필 사진">
                                                </th:block>
                                            </a>
                                            <a class="truncate pl-1 text-xs font-normal text-gray-700 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-200 sm:text-sm" th:href="@{'users/' + ${result.mid}}">
                                                <span th:text="${result.writer}"></span>
                                            </a>
                                            <span class="text-xs text-gray-700 dark:text-gray-300 sm:text-sm">·</span>
                                            <span class="text-xs text-gray-700 dark:text-gray-300 sm:text-sm" th:text="${#temporals.format(result.udate, 'MM.dd HH:mm')}"></span>
                                        </div>
                                        <div class="my-2">
                                            <a class="line-clamp-1 w-fit truncate whitespace-normal break-all text-sm font-semibold leading-6 text-gray-900 hover:text-blue-500 dark:text-gray-100 dark:hover:text-blue-200 sm:text-base" th:href="@{'/articles/' + ${result.bid}}">
                                                <span th:text="${result.title}"></span></a>

                                        </div>
                                        <div class="flex">
                                            <div class="flex flex-1 items-center gap-x-3">
                                                <a class="shrink-0 rounded bg-blue-50 py-0.5 px-2.5 text-xs font-medium text-blue-500 hover:text-blue-300 dark:bg-gray-700 dark:text-gray-300 dark:hover:text-blue-200" th:href="@{|/${cmain}/${result.ccode}|}">
                                                    <span th:text="${result.ccodeKor}"></span>
                                                </a>
                                            </div>
                                            <div class="flex items-center gap-x-2 text-gray-700 dark:text-gray-300">
                                                <div class="inline-flex items-center space-x-0.5 text-xs sm:text-sm">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path>
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                                    </svg>
                                                    <span class="font-medium" th:text="${result.lookup}"></span>
                                                    <span class="sr-only">views</span></div>
                                                <div class="inline-flex items-center space-x-0.5 text-xs sm:text-sm">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
                                                    </svg>
                                                    <span class="font-medium">[[${result.commentCount}]]</span>
                                                    <span class="sr-only">comments</span></div><div class="inline-flex items-center -space-x-0.5 text-xs sm:text-sm"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-5 w-5"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                                            </svg>
                                                <span class="font-medium" th:text="${result.vote}"></span>
                                                <span class="sr-only">likes</span>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <div class="my-4 flex justify-center border-t border-gray-500/30 dark:border-gray-500/70">
                    <nav class="relative z-0 inline-flex w-full justify-center" aria-label="Pagination">
                        <ul class="relative z-0 inline-flex w-full justify-center page-row" th:if="${listResult.totalCount == 0}">
                        </ul>
                        <ul class="relative z-0 inline-flex w-full justify-center page-row" th:with="start=${(listResult.page/maxPage)*maxPage + 1}, end=(${(listResult.totalPageCount==1) ? 1 : (start + (maxPage - 1) < listResult.totalPageCount ? start + (maxPage - 1) : listResult.totalPageCount)})">
                            <li th:class="${listResult.page==0} ? 'disabled'">
                                <th:block th:if="${ccode}">
                                    <a th:if="${kw} or ${sort}" th:with="kw = (${kw}? ${kw} : '')" class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 relative ml-auto inline-flex items-center pt-4 text-sm font-medium"
                                       th:href="${listResult.page==0} ? '#' : @{|${cmain}/${ccode}?kw=${kw}&sort=${sort}&page=${listResult.page}|}">
                                        <span class="sr-only">Previous</span>
                                        <div class="flex items-center space-x-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path>
                                            </svg>
                                            <span>Previous</span>
                                        </div>
                                    </a>
                                    <a th:unless="${kw} or ${sort}" class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 relative ml-auto inline-flex items-center pt-4 text-sm font-medium"
                                       th:href="${listResult.page==0} ? '#' : @{|${cmain}/${ccode}?page=${listResult.page}|}">
                                        <span class="sr-only">Previous</span>
                                        <div class="flex items-center space-x-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path>
                                            </svg>
                                            <span>Previous</span>
                                        </div>
                                    </a>
                                </th:block>
                                <th:block th:unless="${ccode}">
                                    <a th:if="${kw} or ${sort}" th:with="kw = (${kw}? ${kw} : '')" class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 relative ml-auto inline-flex items-center pt-4 text-sm font-medium"
                                       th:href="${listResult.page==0} ? '#' : @{|${cmain}?kw=${kw}&sort=${sort}&page=${listResult.page}|}">
                                        <span class="sr-only">Previous</span>
                                        <div class="flex items-center space-x-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path>
                                            </svg>
                                            <span>Previous</span>
                                        </div>
                                    </a>
                                    <a th:unless="${kw} or ${sort}" class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 relative ml-auto inline-flex items-center pt-4 text-sm font-medium"
                                       th:href="${listResult.page==0} ? '#' : @{|${cmain}?page=${listResult.page}|}">
                                        <span class="sr-only">Previous</span>
                                        <div class="flex items-center space-x-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path>
                                            </svg>
                                            <span>Previous</span>
                                        </div>
                                    </a>
                                </th:block>
                            </li>
                            <li th:if="${listResult.totalCount != 0}" th:each="page: ${#numbers.sequence(start, end)}" th:class="${page == listResult.page} ? 'active'">
                                <th:block th:if="${page-1 == listResult.page}">
                                    <th:block th:if="${ccode}">
                                        <button th:if="${kw} or ${sort}" th:with="kw = (${kw}? ${kw} : '')" class="z-10 border-t-2 border-blue-500 text-blue-500 relative hidden sm:inline-flex items-center px-2 sm:px-4 pt-4 text-sm font-medium"
                                                th:onclick="|location.href='@{|/${cmain}/${ccode}?kw=${kw}&sort=${sort}&page=${page}|}'|">[[${page}]]
                                        </button>
                                        <button th:unless="${kw} or ${sort}" class="z-10 border-t-2 border-blue-500 text-blue-500 relative hidden sm:inline-flex items-center px-2 sm:px-4 pt-4 text-sm font-medium"
                                                th:onclick="|location.href='@{|/${cmain}/${ccode}?page=${page}|}'|">[[${page}]]
                                        </button>
                                    </th:block>
                                    <th:block th:unless="${ccode}">
                                        <button th:if="${kw} or ${sort}" th:with="kw = (${kw}? ${kw} : '')" class="z-10 border-t-2 border-blue-500 text-blue-500 relative hidden sm:inline-flex items-center px-2 sm:px-4 pt-4 text-sm font-medium"
                                                th:onclick="|location.href='@{|/${cmain}?kw=${kw}&sort=${sort}&page=${page}|}'|">[[${page}]]
                                        </button>
                                        <button th:unless="${kw} or ${sort}" class="z-10 border-t-2 border-blue-500 text-blue-500 relative hidden sm:inline-flex items-center px-2 sm:px-4 pt-4 text-sm font-medium"
                                                th:onclick="|location.href='@{|/${cmain}?page=${page}|}'|">[[${page}]]
                                        </button>
                                    </th:block>
                                </th:block>
                                <th:block th:unless="${page-1 == listResult.page}">
                                    <th:block th:if="${ccode}">
                                        <button th:if="${kw} or ${sort}" th:with="kw = (${kw}? ${kw} : '')" class="border-gray-500/30 dark:border-gray-500/70 text-gray-600 dark:text-gray-400 hover:text-blue-500 dark:hover:text-blue-200 mt-0.5 relative hidden sm:inline-flex items-center px-2 sm:px-4 pt-4 text-sm font-medium"
                                                th:onclick="|location.href='@{|/${cmain}/${ccode}?kw=${kw}&sort=${sort}&page=${page}|}'|">[[${page}]]
                                        </button>
                                        <button th:unless="${kw} or ${sort}" class="border-gray-500/30 dark:border-gray-500/70 text-gray-600 dark:text-gray-400 hover:text-blue-500 dark:hover:text-blue-200 mt-0.5 relative hidden sm:inline-flex items-center px-2 sm:px-4 pt-4 text-sm font-medium"
                                                th:onclick="|location.href='@{|/${cmain}/${ccode}?page=${page}|}'|">[[${page}]]
                                        </button>
                                    </th:block>
                                    <th:block th:unless="${ccode}">
                                        <button th:if="${kw} or ${sort}" th:with="kw = (${kw}? ${kw} : '')" class="border-gray-500/30 dark:border-gray-500/70 text-gray-600 dark:text-gray-400 hover:text-blue-500 dark:hover:text-blue-200 mt-0.5 relative hidden sm:inline-flex items-center px-2 sm:px-4 pt-4 text-sm font-medium"
                                                th:onclick="|location.href='@{|/${cmain}?kw=${kw}&sort=${sort}&page=${page}|}'|">[[${page}]]
                                        </button>
                                        <button th:unless="${kw} or ${sort}" class="border-gray-500/30 dark:border-gray-500/70 text-gray-600 dark:text-gray-400 hover:text-blue-500 dark:hover:text-blue-200 mt-0.5 relative hidden sm:inline-flex items-center px-2 sm:px-4 pt-4 text-sm font-medium"
                                                th:onclick="|location.href='@{|${cmain}?page=${page}|}'|">[[${page}]]
                                        </button>
                                    </th:block>
                                </th:block>
                            </li>
                            <li th:class="${(listResult.page == listResult.totalPageCount-1)} ? 'disabled'">
                                <th:block th:if="${ccode}">
                                    <a th:if="${kw} or ${sort}" th:with="kw = (${kw}? ${kw} : '')" class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 relative ml-auto inline-flex items-center pt-4 text-sm font-medium"
                                       th:href="${(listResult.page == listResult.totalPageCount-1)} ? '#' :@{|/${cmain}/${ccode}?kw=${kw}&sort=${sort}&page=${listResult.page+2}|}">
                                        <span class="sr-only">Next</span>
                                        <div class="flex items-center space-x-3">
                                            <span>Next</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3">
                                                </path></svg>
                                        </div>
                                    </a>
                                    <a th:unless="${kw} or ${sort}" class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 relative ml-auto inline-flex items-center pt-4 text-sm font-medium"
                                       th:href="${(listResult.page == listResult.totalPageCount-1)} ? '#' :@{|${cmain}/${ccode}?page=${listResult.page+2}|}">
                                        <span class="sr-only">Next</span>
                                        <div class="flex items-center space-x-3">
                                            <span>Next</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3">
                                                </path></svg>
                                        </div>
                                    </a>
                                </th:block>
                                <th:block th:unless="${ccode}">
                                    <a th:if="${kw} or ${sort}" th:with="kw = (${kw}? ${kw} : '')" class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 relative ml-auto inline-flex items-center pt-4 text-sm font-medium"
                                       th:href="${(listResult.page == listResult.totalPageCount-1)} ? '#' :@{|${cmain}?kw=${kw}&sort=${sort}&page=${listResult.page+2}|}">
                                        <span class="sr-only">Next</span>
                                        <div class="flex items-center space-x-3">
                                            <span>Next</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3">
                                                </path></svg>
                                        </div>
                                    </a>
                                    <a th:unless="${kw} or ${sort}" class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200 relative ml-auto inline-flex items-center pt-4 text-sm font-medium"
                                       th:href="${(listResult.page == listResult.totalPageCount-1)} ? '#' :@{|${cmain}?page=${listResult.page+2}|}">
                                        <span class="sr-only">Next</span>
                                        <div class="flex items-center space-x-3">
                                            <span>Next</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3">
                                                </path></svg>
                                        </div>
                                    </a>
                                </th:block>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="mt-7 space-y-2 lg:hidden">
                </div>
            </div>
        </div>
        <div class="hidden w-[180px] flex-none space-y-4 lg:block">
            <div class="hidden w-[180px] shrink-0 lg:block">
                <div class="flex items-center justify-center rounded-md">
                    <div class="flex items-center justify-center rounded-md">
                        <a class="flex flex-col items-center" href="/supports/together">
                            <img src="/imgs/bom.png">
                        </a>
                    </div>
                    <!--광고?-->
                </div>
                <div class="mt-10 mb-8">
                    <div class="hidden lg:flex">
                        <div class="flex items-center justify-center rounded-md">
                            <a class="flex flex-col items-center" href="/supports/together">
                                <img src="/imgs/zibpalm.png" class="" alt="">
                            </a>
                        </div>
                        <!--광고?-->
                    </div>
                </div>
                <div class="my-8">
                    <div>
                        <div class="flex items-center justify-center rounded-md">
                            <a class="flex flex-col items-center" href="/supports/together">
                                <img src="/imgs/skream.png">

                            </a>
                        </div>
                        <!--광고?-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="fragment/footer :: commonFooter">
</th:block>
</body>
</html>
<script>
        const showSort = document.querySelector('.showSort');
        const popupSort = document.querySelector('.popupSort');

        showSort.addEventListener('click', () => {
            popupSort.style.display = 'block';
        });
        popupSort.addEventListener('click', (e) => {

            popupSort.style.display = 'none';

        });

        function check(){
            var searchVal = search.kw;
            var searchkw = trim(searchVal);
            if(searchkw.length == 0){
                search.kw.value = "";
                search.kw.focus();
            }else{
                search.submit();
            }
        }
        function enterCheck(elm){
            if(event.keyCode == 13){
                if(elm == search.kw){
                   console.log(search.kw);
                   check();
                }
            }
        }

    </script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
        function getRdateVal() {
            $('#sortInput').attr('value', "rdate");
            $('#searchInput').attr('value', search.kw.value);
            sortForm.submit();
        }
        function getVoteVal() {
            $('#sortInput').attr('value', "vote");
            $('#searchInput').attr('value', search.kw.value);
            sortForm.submit();
        }
        function getLookupVal() {

            $('#sortInput').attr('value', "lookup");
            $('#searchInput').attr('value', search.kw.value);
            sortForm.submit();
        }
        $(window).load(function(){
            $('.readyCategory').click(function(){
                var element = document.querySelector(".clickedCategory");
                $(this).removeClass("readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200");
                $(this).addClass("clickedCategory bg-gray-100 dark:bg-gray-700");
                $(element).addClass("readyCategory text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-200");
                $(element).removeClass("clickedCategory bg-gray-100 dark:bg-gray-700");
            });
        });
        $(window).load(function(){
            var test = $('#sort')
        });

    </script>