<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragment/config :: metaConfig">
    </th:block>
    <title>Corder 공지사항</title>
</head>
<body class="flex h-full select-auto flex-col font-sans text-gray-900 antialiased dark:bg-gray-800 dark:text-gray-100">
    <th:block th:replace="fragment/header :: commonHeader">
    </th:block>
    <main class="mx-auto mt-2 w-full max-w-7xl px-4 lg:mt-[18px] lg:px-0 b-l-red">
        <div class="flex lg:space-x-10 b-l-red">
            <div class="hidden w-[180px] shrink-0 lg:block b-l-red">
                <div class="flex items-center justify-center rounded-md b-l-red">

                </div>
                <div class="mt-10 mb-8 b-l-red">
                    <div class="hidden lg:flex">

                    </div>
                </div>
                <div class="my-8 b-l-red">
                    <div></div>
                </div>
            </div>
            <div class="w-full min-w-0 flex-auto lg:static lg:max-h-full lg:overflow-visible b-l-red">
                <div class="min-w-0 flex-auto b-l-red">
                    <div class="hidden items-center lg:flex">
                        <p> 공지사항 </p>
                    </div>
                </div>
            </div>
            <div class="hidden w-[180px] flex-none space-y-4 lg:block">
            </div>
        </div>
    </main>
</body>
</html>