<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/config :: metaConfig">
    </th:block>

    <title>Corder Main</title>
</head>
<body class="flex h-full select-auto flex-col font-sans text-gray-900 antialiased dark:bg-gray-800 dark:text-gray-100">
    <th:block th:replace="fragment/header :: commonHeader">
    </th:block>
    <main class="mx-auto mt-2 w-full max-w-7xl px-4 lg:mt-[18px] lg:px-0">
        <div class="flex lg:space-x-10">
            <div class="hidden w-[180px] shrink-0 lg:block">
                <div class="flex items-center justify-center rounded-md">
                    <div class="flex items-center justify-center rounded-md">
                        <a class="flex flex-col items-center" href="/supports/together">
                            <img src="/imgs/zibpalm.png" class="" alt="">
                        </a>
                    </div>
                    <!--광고?-->
                </div>
                <div class="mt-10 mb-8">
                    <div class="hidden lg:flex">
                        <div class="flex items-center justify-center rounded-md">
                            <a class="flex flex-col items-center" href="/supports/together">
                                <img src="/imgs/skream.png">
                            </a>
                        </div>
                        <!--광고?-->
                    </div>
                </div>
                <div class="my-8">
                    <div>
                        <div class="flex items-center justify-center rounded-md">
                            <a class="flex flex-col items-center" href="/supports/together">
                                <img src="/imgs/bom.png">
                            </a>
                        </div>
                        <!--광고?-->
                    </div>
                </div>
            </div>
            <div class="w-full min-w-0 flex-auto lg:static lg:max-h-full lg:overflow-visible">
                <div class="min-w-0 flex-auto">
                    <div class="hidden items-center lg:flex">
                        <img class="h-[140px] w-full" src="/imgs/centerBanner.png">
                    </div>
                    <div class="my-8 flex flex-col gap-x-10 gap-y-10 md:flex-row ">
                        <!-- Q & A -->
                        <div class="w-full ">
                            <a class="relative mb-2 text-gray-900 no-underline dark:text-gray-100" href="/questions">
                                <div class="group relative">
                                    <div class="h-16 w-full rounded-xl bg-blue-50 dark:bg-gray-700">
                                        <div class="h-full rounded-xl bg-bottom opacity-10" style="background-image: url(&quot;pattern.svg&quot;);">
                                        </div>
                                    </div>
                                    <div class="absolute top-0 flex h-full w-full items-center px-8 hover:no-underline dark:hover:no-underline">
                                        <span class="w-full font-semibold hover:text-blue-500 hover:no-underline group-hover:text-blue-500 dark:hover:text-blue-200 dark:hover:no-underline dark:group-hover:text-blue-200 sm:text-lg">Q&A</span>
                                    </div>
                                </div>
                            </a>
                            <div>
                                <ul class="divide-y divide-gray-500/30 dark:divide-gray-500/70" th:each="article : ${questionsList.list}">
                                    <li class="py-4 last:pb-0">
                                        <div class="mb-2 flex">
                                            <div class="flex flex-1 items-center space-x-1">
                                                <a th:href="@{'users/' + ${article.mid}}">
                                                    <th:block th:if="${article.fname}!=null">
                                                        <th:block th:with="extension=${#strings.substring(article.fname, #strings.indexOf(article.fname, '.'), article.fname.length)}">
                                                            <th:block th:if="${#strings.contains('.jpg|.png|.jpeg|.ico|.gif', extension)}">
                                                                <div class="items">
                                                                    <img class="h-5 w-5 rounded-full border-2 border-gray-200" th:src="|/myinfo/images/${article.fname}|" width="150" height="150" alt="프로필 사진">
                                                                </div>
                                                            </th:block>
                                                        </th:block>
                                                    </th:block>
                                                    <th:block th:if="${article.fname}==null">
                                                        <img class="h-5 w-5 rounded-full border-2 border-gray-200" src="//www.gravatar.com/avatar/31912249a6ca1075c84bedba97699546?d=identicon&amp;s=96" width="150" height="150" alt="프로필 사진">
                                                    </th:block>
                                                </a>
                                                <a class="inline pl-1 text-xs font-medium text-gray-700 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-200 sm:text-sm"
                                                   th:href="@{'users/' + ${article.mid}}">
                                                    [[${article.writer}]]
                                                </a>
                                                <div class="text-xs font-normal leading-5 text-gray-700 dark:text-gray-300 sm:text-sm">
                                                    <span class="mr-0.5">·</span>
                                                    <svg class="inline h-3 w-3" width="9" height="12" viewBox="0 1 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <title>bolt icon</title>
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21535 0.575533C5.4443 0.647704 5.6 0.86003 5.6 1.10009V3.85009L7.8 3.85009C8.00508 3.85009 8.19313 3.96419 8.28783 4.14609C8.38254 4.328 8.36818 4.54748 8.25057 4.71549L4.40057 10.2155C4.26291 10.4122 4.0136 10.4968 3.78464 10.4246C3.55569 10.3525 3.4 10.1401 3.4 9.90009L3.4 7.15009H1.2C0.994914 7.15009 0.806866 7.03599 0.712157 6.85408C0.617448 6.67218 0.631811 6.45269 0.749418 6.28468L4.59942 0.784684C4.73708 0.588021 4.98639 0.503362 5.21535 0.575533Z" fill="currentColor">

                                                        </path>
                                                    </svg>
                                                    <span class="space-x-1">
                                                        <span>0</span>
                                                        <span>·</span>
                                                        <span th:text="${#temporals.format(article.udate, 'MM.dd hh:mm')}"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex space-x-2 text-gray-700 dark:text-gray-300">
                                                <div class="flex flex-1 items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path></svg>
                                                    <span class="text-xs font-normal sm:text-sm" th:text="${article.vote}"></span>
                                                </div>
                                                <div class="flex flex-1 items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
                                                    </svg>
                                                    <span class="ml-0.5 text-xs font-normal sm:text-sm" th:text="${article.commentCount}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a class="line-clamp-1 w-fit break-all text-sm font-semibold text-gray-900 hover:text-blue-500 dark:text-gray-100 dark:hover:text-blue-200 sm:text-base sm:leading-5"
                                               th:href="@{'articles/' + ${article.bid}}">
                                                <span th:text="${article.title}"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- 지식 -->
                        <div class="w-full ">
                            <a class="relative mb-2 text-gray-900 no-underline dark:text-gray-100" href="/knowledge">
                                <div class="group relative">
                                    <div class="h-16 w-full rounded-xl bg-blue-50 dark:bg-gray-700">
                                        <div class="h-full rounded-xl bg-bottom opacity-10" style="background-image: url(&quot;pattern.svg&quot;);">
                                        </div>
                                    </div>
                                    <div class="absolute top-0 flex h-full w-full items-center px-8 hover:no-underline dark:hover:no-underline">
                                        <span class="w-full font-semibold hover:text-blue-500 hover:no-underline group-hover:text-blue-500 dark:hover:text-blue-200 dark:hover:no-underline dark:group-hover:text-blue-200 sm:text-lg">지식</span>
                                    </div>
                                </div>
                            </a>
                            <div>
                                <ul class="divide-y divide-gray-500/30 dark:divide-gray-500/70" th:each="article : ${knowledgeList.list}">
                                    <li class="py-4 last:pb-0">
                                        <div class="mb-2 flex">
                                            <div class="flex flex-1 items-center space-x-1">
                                                <a th:href="@{'users/' + ${article.mid}}">
                                                    <th:block th:if="${article.fname}!=null">
                                                        <th:block th:with="extension=${#strings.substring(article.fname, #strings.indexOf(article.fname, '.'), article.fname.length)}">
                                                            <th:block th:if="${#strings.contains('.jpg|.png|.jpeg|.ico|.gif', extension)}">
                                                                <div class="items">
                                                                    <img class="h-5 w-5 rounded-full border-2 border-gray-200" th:src="|/myinfo/images/${article.fname}|" width="150" height="150" alt="프로필 사진">
                                                                </div>
                                                            </th:block>
                                                        </th:block>
                                                    </th:block>
                                                    <th:block th:if="${article.fname}==null">
                                                        <img class="h-5 w-5 rounded-full border-2 border-gray-200" src="//www.gravatar.com/avatar/31912249a6ca1075c84bedba97699546?d=identicon&amp;s=96" width="150" height="150" alt="프로필 사진">
                                                    </th:block>
                                                </a>
                                                <a class="inline pl-1 text-xs font-medium text-gray-700 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-200 sm:text-sm"
                                                   th:href="@{'users/' + ${article.mid}}">
                                                    [[${article.writer}]]
                                                </a>
                                                <div class="text-xs font-normal leading-5 text-gray-700 dark:text-gray-300 sm:text-sm">
                                                    <span class="mr-0.5">·</span>
                                                    <svg class="inline h-3 w-3" width="9" height="12" viewBox="0 1 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <title>bolt icon</title>
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21535 0.575533C5.4443 0.647704 5.6 0.86003 5.6 1.10009V3.85009L7.8 3.85009C8.00508 3.85009 8.19313 3.96419 8.28783 4.14609C8.38254 4.328 8.36818 4.54748 8.25057 4.71549L4.40057 10.2155C4.26291 10.4122 4.0136 10.4968 3.78464 10.4246C3.55569 10.3525 3.4 10.1401 3.4 9.90009L3.4 7.15009H1.2C0.994914 7.15009 0.806866 7.03599 0.712157 6.85408C0.617448 6.67218 0.631811 6.45269 0.749418 6.28468L4.59942 0.784684C4.73708 0.588021 4.98639 0.503362 5.21535 0.575533Z" fill="currentColor">

                                                        </path>
                                                    </svg>
                                                    <span class="space-x-1">
                                                        <span>0</span>
                                                        <span>·</span>
                                                        <span th:text="${#temporals.format(article.udate, 'MM.dd hh:mm')}"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex space-x-2 text-gray-700 dark:text-gray-300">
                                                <div class="flex flex-1 items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path></svg>
                                                    <span class="text-xs font-normal sm:text-sm" th:text="${article.vote}"></span>
                                                </div>
                                                <div class="flex flex-1 items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
                                                    </svg>
                                                    <span class="ml-0.5 text-xs font-normal sm:text-sm" th:text="${article.commentCount}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a class="line-clamp-1 w-fit break-all text-sm font-semibold text-gray-900 hover:text-blue-500 dark:text-gray-100 dark:hover:text-blue-200 sm:text-base sm:leading-5"
                                               th:href="@{'articles/' + ${article.bid}}">
                                                <span th:text="${article.title}"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 커뮤니티 -->
                    <div class="my-8 flex flex-col gap-x-10 gap-y-10 md:flex-row ">
                        <div class="w-full ">
                            <a class="relative mb-2 text-gray-900 no-underline dark:text-gray-100" href="/community">
                                <div class="group relative">
                                    <div class="h-16 w-full rounded-xl bg-blue-50 dark:bg-gray-700">
                                        <div class="h-full rounded-xl bg-bottom opacity-10" style="background-image: url(&quot;pattern.svg&quot;);">
                                        </div>
                                    </div>
                                    <div class="absolute top-0 flex h-full w-full items-center px-8 hover:no-underline dark:hover:no-underline">
                                        <span class="w-full font-semibold hover:text-blue-500 hover:no-underline group-hover:text-blue-500 dark:hover:text-blue-200 dark:hover:no-underline dark:group-hover:text-blue-200 sm:text-lg">커뮤니티</span>
                                    </div>
                                </div>
                            </a>
                            <div>
                                <ul class="divide-y divide-gray-500/30 dark:divide-gray-500/70" th:each="article : ${communityList.list}">
                                    <li class="py-4 last:pb-0">
                                        <div class="mb-2 flex">
                                            <div class="flex flex-1 items-center space-x-1">
                                                <a th:href="@{'users/' + ${article.mid}}">
                                                    <th:block th:if="${article.fname}!=null">
                                                        <th:block th:with="extension=${#strings.substring(article.fname, #strings.indexOf(article.fname, '.'), article.fname.length)}">
                                                            <th:block th:if="${#strings.contains('.jpg|.png|.jpeg|.ico|.gif', extension)}">
                                                                <div class="items">
                                                                    <img class="h-5 w-5 rounded-full border-2 border-gray-200" th:src="|/myinfo/images/${article.fname}|" width="150" height="150" alt="프로필 사진">
                                                                </div>
                                                            </th:block>
                                                        </th:block>
                                                    </th:block>
                                                    <th:block th:if="${article.fname}==null">
                                                        <img class="h-5 w-5 rounded-full border-2 border-gray-200" src="//www.gravatar.com/avatar/31912249a6ca1075c84bedba97699546?d=identicon&amp;s=96" width="150" height="150" alt="프로필 사진">
                                                    </th:block>
                                                </a>
                                                <a class="inline pl-1 text-xs font-medium text-gray-700 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-200 sm:text-sm"
                                                   th:href="@{'users/' + ${article.mid}}">
                                                    [[${article.writer}]]
                                                </a>
                                                <div class="text-xs font-normal leading-5 text-gray-700 dark:text-gray-300 sm:text-sm">
                                                    <span class="mr-0.5">·</span>
                                                    <svg class="inline h-3 w-3" width="9" height="12" viewBox="0 1 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <title>bolt icon</title>
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21535 0.575533C5.4443 0.647704 5.6 0.86003 5.6 1.10009V3.85009L7.8 3.85009C8.00508 3.85009 8.19313 3.96419 8.28783 4.14609C8.38254 4.328 8.36818 4.54748 8.25057 4.71549L4.40057 10.2155C4.26291 10.4122 4.0136 10.4968 3.78464 10.4246C3.55569 10.3525 3.4 10.1401 3.4 9.90009L3.4 7.15009H1.2C0.994914 7.15009 0.806866 7.03599 0.712157 6.85408C0.617448 6.67218 0.631811 6.45269 0.749418 6.28468L4.59942 0.784684C4.73708 0.588021 4.98639 0.503362 5.21535 0.575533Z" fill="currentColor">

                                                        </path>
                                                    </svg>
                                                    <span class="space-x-1">
                                                        <span>0</span>
                                                        <span>·</span>
                                                        <span th:text="${#temporals.format(article.udate, 'MM.dd hh:mm')}"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex space-x-2 text-gray-700 dark:text-gray-300">
                                                <div class="flex flex-1 items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path></svg>
                                                    <span class="text-xs font-normal sm:text-sm" th:text="${article.vote}"></span>
                                                </div>
                                                <div class="flex flex-1 items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
                                                    </svg>
                                                    <span class="ml-0.5 text-xs font-normal sm:text-sm" th:text="${article.commentCount}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a class="line-clamp-1 w-fit break-all text-sm font-semibold text-gray-900 hover:text-blue-500 dark:text-gray-100 dark:hover:text-blue-200 sm:text-base sm:leading-5"
                                               th:href="@{'articles/' + ${article.bid}}">
                                                <span th:text="${article.title}"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="w-full ">
                            <a class="relative mb-2 text-gray-900 no-underline dark:text-gray-100" href="/events">
                                <div class="group relative">
                                    <div class="h-16 w-full rounded-xl bg-blue-50 dark:bg-gray-700">
                                        <div class="h-full rounded-xl bg-bottom opacity-10" style="background-image: url(&quot;pattern.svg&quot;);">
                                        </div>
                                    </div>
                                    <div class="absolute top-0 flex h-full w-full items-center px-8 hover:no-underline dark:hover:no-underline">
                                        <span class="w-full font-semibold hover:text-blue-500 hover:no-underline group-hover:text-blue-500 dark:hover:text-blue-200 dark:hover:no-underline dark:group-hover:text-blue-200 sm:text-lg">이벤트</span>
                                    </div>
                                </div>
                            </a>
                            <div>
                                <ul class="divide-y divide-gray-500/30 dark:divide-gray-500/70" th:each="article : ${eventsList.list}">
                                    <li class="py-4 last:pb-0">
                                        <div class="mb-2 flex">
                                            <div class="flex flex-1 items-center space-x-1">
                                                <a th:href="@{'users/' + ${article.mid}}">
                                                    <th:block th:if="${article.fname}!=null">
                                                        <th:block th:with="extension=${#strings.substring(article.fname, #strings.indexOf(article.fname, '.'), article.fname.length)}">
                                                            <th:block th:if="${#strings.contains('.jpg|.png|.jpeg|.ico|.gif', extension)}">
                                                                <div class="items">
                                                                    <img class="h-5 w-5 rounded-full border-2 border-gray-200" th:src="|/myinfo/images/${article.fname}|" width="150" height="150" alt="프로필 사진">
                                                                </div>
                                                            </th:block>
                                                        </th:block>
                                                    </th:block>
                                                    <th:block th:if="${article.fname}==null">
                                                        <img class="h-5 w-5 rounded-full border-2 border-gray-200" src="//www.gravatar.com/avatar/31912249a6ca1075c84bedba97699546?d=identicon&amp;s=96" width="150" height="150" alt="프로필 사진">
                                                    </th:block>
                                                </a>
                                                <a class="inline pl-1 text-xs font-medium text-gray-700 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-200 sm:text-sm"
                                                   th:href="@{'users/' + ${article.mid}}">
                                                    [[${article.writer}]]
                                                </a>
                                                <div class="text-xs font-normal leading-5 text-gray-700 dark:text-gray-300 sm:text-sm">
                                                    <span class="mr-0.5">·</span>
                                                    <svg class="inline h-3 w-3" width="9" height="12" viewBox="0 1 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <title>bolt icon</title>
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21535 0.575533C5.4443 0.647704 5.6 0.86003 5.6 1.10009V3.85009L7.8 3.85009C8.00508 3.85009 8.19313 3.96419 8.28783 4.14609C8.38254 4.328 8.36818 4.54748 8.25057 4.71549L4.40057 10.2155C4.26291 10.4122 4.0136 10.4968 3.78464 10.4246C3.55569 10.3525 3.4 10.1401 3.4 9.90009L3.4 7.15009H1.2C0.994914 7.15009 0.806866 7.03599 0.712157 6.85408C0.617448 6.67218 0.631811 6.45269 0.749418 6.28468L4.59942 0.784684C4.73708 0.588021 4.98639 0.503362 5.21535 0.575533Z" fill="currentColor">

                                                        </path>
                                                    </svg>
                                                    <span class="space-x-1">
                                                        <span>0</span>
                                                        <span>·</span>
                                                        <span th:text="${#temporals.format(article.udate, 'MM.dd hh:mm')}"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex space-x-2 text-gray-700 dark:text-gray-300">
                                                <div class="flex flex-1 items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path></svg>
                                                    <span class="text-xs font-normal sm:text-sm" th:text="${article.vote}"></span>
                                                </div>
                                                <div class="flex flex-1 items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
                                                    </svg>
                                                    <span class="ml-0.5 text-xs font-normal sm:text-sm" th:text="${article.commentCount}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a class="line-clamp-1 w-fit break-all text-sm font-semibold text-gray-900 hover:text-blue-500 dark:text-gray-100 dark:hover:text-blue-200 sm:text-base sm:leading-5"
                                               th:href="@{'articles/' + ${article.bid}}">
                                                <span th:text="${article.title}"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="my-8 flex flex-col gap-x-10 gap-y-10 md:flex-row ">
                        <div class="w-full ">
                            <a class="relative mb-2 text-gray-900 no-underline dark:text-gray-100" href="/jobs">
                                <div class="group relative">
                                    <div class="h-16 w-full rounded-xl bg-blue-50 dark:bg-gray-700">
                                        <div class="h-full rounded-xl bg-bottom opacity-10" style="background-image: url(&quot;pattern.svg&quot;);">
                                        </div>
                                    </div>
                                    <div class="absolute top-0 flex h-full w-full items-center px-8 hover:no-underline dark:hover:no-underline">
                                        <span class="w-full font-semibold hover:text-blue-500 hover:no-underline group-hover:text-blue-500 dark:hover:text-blue-200 dark:hover:no-underline dark:group-hover:text-blue-200 sm:text-lg">JOBS</span>
                                    </div>
                                </div>
                            </a>
                            <div>
                                <ul class="divide-y divide-gray-500/30 dark:divide-gray-500/70" th:each="article : ${jobsList.list}">
                                    <li class="py-4 last:pb-0">
                                        <div class="mb-2 flex">
                                            <div class="flex flex-1 items-center space-x-1">
                                                <a th:href="@{'users/' + ${article.mid}}">
                                                    <th:block th:if="${article.fname}!=null">
                                                        <th:block th:with="extension=${#strings.substring(article.fname, #strings.indexOf(article.fname, '.'), article.fname.length)}">
                                                            <th:block th:if="${#strings.contains('.jpg|.png|.jpeg|.ico|.gif', extension)}">
                                                                <div class="items">
                                                                    <img class="h-5 w-5 rounded-full border-2 border-gray-200" th:src="|/myinfo/images/${article.fname}|" width="150" height="150" alt="프로필 사진">
                                                                </div>
                                                            </th:block>
                                                        </th:block>
                                                    </th:block>
                                                    <th:block th:if="${article.fname}==null">
                                                        <img class="h-5 w-5 rounded-full border-2 border-gray-200" src="//www.gravatar.com/avatar/31912249a6ca1075c84bedba97699546?d=identicon&amp;s=96" width="150" height="150" alt="프로필 사진">
                                                    </th:block>
                                                </a>
                                                <a class="inline pl-1 text-xs font-medium text-gray-700 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-200 sm:text-sm"
                                                   th:href="@{'users/' + ${article.mid}}">
                                                    [[${article.writer}]]
                                                </a>
                                                <div class="text-xs font-normal leading-5 text-gray-700 dark:text-gray-300 sm:text-sm">
                                                    <span class="mr-0.5">·</span>
                                                    <svg class="inline h-3 w-3" width="9" height="12" viewBox="0 1 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <title>bolt icon</title>
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21535 0.575533C5.4443 0.647704 5.6 0.86003 5.6 1.10009V3.85009L7.8 3.85009C8.00508 3.85009 8.19313 3.96419 8.28783 4.14609C8.38254 4.328 8.36818 4.54748 8.25057 4.71549L4.40057 10.2155C4.26291 10.4122 4.0136 10.4968 3.78464 10.4246C3.55569 10.3525 3.4 10.1401 3.4 9.90009L3.4 7.15009H1.2C0.994914 7.15009 0.806866 7.03599 0.712157 6.85408C0.617448 6.67218 0.631811 6.45269 0.749418 6.28468L4.59942 0.784684C4.73708 0.588021 4.98639 0.503362 5.21535 0.575533Z" fill="currentColor">

                                                        </path>
                                                    </svg>
                                                    <span class="space-x-1">
                                                        <span>0</span>
                                                        <span>·</span>
                                                        <span th:text="${#temporals.format(article.udate, 'MM.dd hh:mm')}"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex space-x-2 text-gray-700 dark:text-gray-300">
                                                <div class="flex flex-1 items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path></svg>
                                                    <span class="text-xs font-normal sm:text-sm" th:text="${article.vote}"></span>
                                                </div>
                                                <div class="flex flex-1 items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
                                                    </svg>
                                                    <span class="ml-0.5 text-xs font-normal sm:text-sm" th:text="${article.commentCount}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a class="line-clamp-1 w-fit break-all text-sm font-semibold text-gray-900 hover:text-blue-500 dark:text-gray-100 dark:hover:text-blue-200 sm:text-base sm:leading-5"
                                               th:href="@{'articles/' + ${article.bid}}">
                                                <span th:text="${article.title}"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="w-full ">
                            <a class="relative mb-2 text-gray-900 no-underline dark:text-gray-100" href="/notice">
                                <div class="group relative">
                                    <div class="h-16 w-full rounded-xl bg-blue-50 dark:bg-gray-700">
                                        <div class="h-full rounded-xl bg-bottom opacity-10" style="background-image: url(&quot;pattern.svg&quot;);">
                                        </div>
                                    </div>
                                    <div class="absolute top-0 flex h-full w-full items-center px-8 hover:no-underline dark:hover:no-underline">
                                        <span class="w-full font-semibold hover:text-blue-500 hover:no-underline group-hover:text-blue-500 dark:hover:text-blue-200 dark:hover:no-underline dark:group-hover:text-blue-200 sm:text-lg">공지사항</span>
                                    </div>
                                </div>
                            </a>
                            <div>
                                <ul class="divide-y divide-gray-500/30 dark:divide-gray-500/70" th:each="article : ${noticeList.list}">
                                    <li class="py-4 last:pb-0">
                                        <div class="mb-2 flex">
                                            <div class="flex flex-1 items-center space-x-1">
                                                <a th:href="@{'users/' + ${article.mid}}">
                                                    <th:block th:if="${article.fname}!=null">
                                                        <th:block th:with="extension=${#strings.substring(article.fname, #strings.indexOf(article.fname, '.'), article.fname.length)}">
                                                            <th:block th:if="${#strings.contains('.jpg|.png|.jpeg|.ico|.gif', extension)}">
                                                                <div class="items">
                                                                    <img class="h-5 w-5 rounded-full border-2 border-gray-200" th:src="|/myinfo/images/${article.fname}|" width="150" height="150" alt="프로필 사진">
                                                                </div>
                                                            </th:block>
                                                        </th:block>
                                                    </th:block>
                                                    <th:block th:if="${article.fname}==null">
                                                        <img class="h-5 w-5 rounded-full border-2 border-gray-200" src="//www.gravatar.com/avatar/31912249a6ca1075c84bedba97699546?d=identicon&amp;s=96" width="150" height="150" alt="프로필 사진">
                                                    </th:block>
                                                </a>
                                                <a class="inline pl-1 text-xs font-medium text-gray-700 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-200 sm:text-sm"
                                                   th:href="@{'users/' + ${article.mid}}">
                                                    [[${article.writer}]]
                                                </a>
                                                <div class="text-xs font-normal leading-5 text-gray-700 dark:text-gray-300 sm:text-sm">
                                                    <span class="mr-0.5">·</span>
                                                    <svg class="inline h-3 w-3" width="9" height="12" viewBox="0 1 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <title>bolt icon</title>
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.21535 0.575533C5.4443 0.647704 5.6 0.86003 5.6 1.10009V3.85009L7.8 3.85009C8.00508 3.85009 8.19313 3.96419 8.28783 4.14609C8.38254 4.328 8.36818 4.54748 8.25057 4.71549L4.40057 10.2155C4.26291 10.4122 4.0136 10.4968 3.78464 10.4246C3.55569 10.3525 3.4 10.1401 3.4 9.90009L3.4 7.15009H1.2C0.994914 7.15009 0.806866 7.03599 0.712157 6.85408C0.617448 6.67218 0.631811 6.45269 0.749418 6.28468L4.59942 0.784684C4.73708 0.588021 4.98639 0.503362 5.21535 0.575533Z" fill="currentColor">

                                                        </path>
                                                    </svg>
                                                    <span class="space-x-1">
                                                        <span>0</span>
                                                        <span>·</span>
                                                        <span th:text="${#temporals.format(article.udate, 'MM.dd hh:mm')}"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex space-x-2 text-gray-700 dark:text-gray-300">
                                                <div class="flex flex-1 items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path></svg>
                                                    <span class="text-xs font-normal sm:text-sm" th:text="${article.vote}"></span>
                                                </div>
                                                <div class="flex flex-1 items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4 shrink-0"><path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
                                                    </svg>
                                                    <span class="ml-0.5 text-xs font-normal sm:text-sm" th:text="${article.commentCount}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a class="line-clamp-1 w-fit break-all text-sm font-semibold text-gray-900 hover:text-blue-500 dark:text-gray-100 dark:hover:text-blue-200 sm:text-base sm:leading-5"
                                               th:href="@{'articles/' + ${article.bid}}">
                                                <span th:text="${article.title}"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden w-[180px] flex-none space-y-4 lg:block">
                <div class="hidden w-[180px] shrink-0 lg:block">
                    <div class="flex items-center justify-center rounded-md">
                        <div class="flex items-center justify-center rounded-md">
                            <a class="flex flex-col items-center" href="/supports/together">
                                <img src="/imgs/bom.png">
                            </a>
                        </div>
                        <!--광고?-->
                    </div>
                    <div class="mt-10 mb-8">
                        <div class="hidden lg:flex">
                            <div class="flex items-center justify-center rounded-md">
                                <a class="flex flex-col items-center" href="/supports/together">
                                    <img src="/imgs/zibpalm.png" class="" alt="">
                                </a>
                            </div>
                            <!--광고?-->
                        </div>
                    </div>
                    <div class="my-8">
                        <div>
                            <div class="flex items-center justify-center rounded-md">
                                <a class="flex flex-col items-center" href="/supports/together">
                                    <img src="/imgs/skream.png">

                                </a>
                            </div>
                            <!--광고?-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="fragment/footer :: commonFooter">
    </th:block>
</body>
</html>