<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragment/config :: metaConfig">
    </th:block>
    <title>CODER Intro</title>
</head>
<body>
<th:block th:replace="fragment/header :: commonHeader">
</th:block>

<main class="mx-auto mt-2 w-full max-w-7xl px-4 lg:mt-[18px] lg:px-0">
    <div class="flex lg:space-x-10">
        <div class="hidden w-[180px] shrink-0 lg:block">
        </div>
        <div class="w-full min-w-0 flex-auto lg:static lg:max-h-full lg:overflow-visible">
            <div class="min-w-0 flex-auto space-y-8">
                <div class="mt-8">
                    <p align="center">
                        <img src="/imgs/Intro_coderLogo2.png"></p>
    <div class="my-16 rounded-2xl bg-coderBlue-500/95">
        <div class="max-w-7xl px-10 py-6 font-semibold text-gray-50 dark:text-gray-50/95">
            <div class="flex flex-col justify-center space-y-6 sm:flex-row sm:space-x-10 sm:space-y-0">
                <div class="flex flex-col items-center">
                    <div class="my-2">
                        <img src="/imgs/qna.png">
                    </div>
                    <div class="text-center text-2xl font-extrabold">33만 6천 건 이상</div>
                    <div class="text-center text-xl">기술 Q&amp;A 목표</div>
                </div>
                <div class="hidden lg:flex lg:items-center">
                    <div class="h-1/3 w-1 bg-gray-100 dark:bg-gray-900 lg:my-2"></div>
                </div>
                <div class="flex flex-col items-center">
                    <div class="my-2">
                        <img src="/imgs/group.png">
                    </div>
                    <div class="text-center text-2xl font-extrabold">14만 명 이상</div>
                    <div class="text-center text-xl">회원 예상</div>
                </div>
                <div class="hidden lg:flex lg:items-center">
                    <div class="h-1/3 w-1 bg-gray-100 dark:bg-gray-900 lg:my-2"></div>
                </div>
                <div class="flex flex-col items-center">
                    <div class="my-2">
                        <img src="/imgs/views.png">
                    </div>
                    <div class="text-center text-2xl font-extrabold">460만 건</div>
                    <div class="text-center text-xl">월 페이지 뷰 희망</div>
                </div>
            </div>
            <p class="mt-6 max-w-4xl text-center text-lg" style="font-size:1rem;">CODER는 2023년 3월에 시작한 한국의 대표 개발자 커뮤니티입니다.<br>단순한 기술 커뮤니티를 넘어, S/W개발자의 기술과 삶을 나누는 공간으로서의 역할을 담당하고 있습니다.</p>
        </div>
    </div>
    <h2 class="sr-only">MISSION</h2>
    <div>
        <div class="text-center text-2xl font-bold text-blue-600 lg:text-3xl">MISSION</div>
        <div class="m-auto my-1 h-1 w-10 bg-blue-600 lg:h-2"></div>
    </div>
    <div class="mb-16 mt-10 rounded-2xl bg-slate-200 py-1">
        <div class="my-6">
            <img class="mx-auto my-0 block" src="/imgs/coderLogo2.png">
        </div>
        <dl class="m-10 grid grid-cols-1 divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow sm:grid-cols-3 sm:divide-x sm:divide-y-0">
            <div class="px-4 py-5 sm:p-6">
                <div class="my-2">
                    <img class="mx-auto my-0 block" src="/imgs/shield.png">
                </div>
                <dt class="mt-4 text-center text-xl font-semibold text-black">개발자의 권익보호</dt>
            </div>
            <div class="px-4 py-5 sm:p-6">
                <div class="my-2">
                    <img class="mx-auto my-0 block" src="/imgs/conversation.png">
                </div>
                <dt class="mt-4 text-center text-xl font-semibold text-black">개발자의 소통 통로</dt>
            </div>
            <div class="px-4 py-5 sm:p-6">
                <div class="my-2">
                    <img class="mx-auto my-0 block" src="/imgs/coding.png">
                </div>
                <dt class="mt-4 text-center text-xl font-semibold text-black">S/W 개발 문화의 활성화</dt>
            </div>
        </dl>
    </div>
    <h2 class="sr-only">HISTORY</h2>
    <div>
        <div class="text-center text-2xl font-bold text-blue-600 lg:text-3xl">HISTORY</div>
        <div class="m-auto my-1 h-1 w-10 bg-blue-600 lg:h-2"></div>
    </div>
    <br>
    <br>
    <div class="my-4 lg:mx-4 lg:my-0">
        <div class="space-x-3 lg:flex">
            <div class="w-14 text-center text-xl font-bold lg:text-2xl">
            </div>
            <div class="flex flex-col items-center">
                <span class="hidden lg:inline">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="z-10 h-8 w-8 text-blue-500">
                    </svg>
                </span>
                <span class="z-10 h-full w-0.5 bg-gray-200 dark:bg-gray-800" aria-hidden="true"></span>
            </div>
            <div class="flex flex-1 flex-col justify-center space-x-4 lg:py-2">
                <div class="h-0.5 w-full bg-gray-300 dark:bg-gray-700 lg:my-2"></div>
                <div class="mt-3 space-y-2">
                    <div class="relative flex">
                        <div class="absolute -left-2 top-2 mr-2 h-1.5 w-1.5 flex-shrink-0 flex-grow-0 rounded-full bg-blue-500 lg:top-2.5"></div>
                        <div class="ml-2 text-sm lg:text-lg">CODER 사이트 개설</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="my-4 lg:mx-4 lg:my-0">
        <div class="space-x-3 lg:flex">
            <div class="w-14 text-center text-xl font-bold lg:text-2xl">
                <time datetime="2023">2023</time>
            </div>
            <div class="flex flex-col items-center">
                <span class="hidden lg:inline">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="z-10 h-8 w-8 text-blue-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
                    </svg>
                </span>
                <span class="z-10 h-full w-0.5 bg-gray-200 dark:bg-gray-800" aria-hidden="true"></span>
            </div>
            <div class="flex flex-1 flex-col justify-center space-x-4 lg:py-2">
                <div class="h-0.5 w-full bg-gray-300 dark:bg-gray-700 lg:my-2"></div>
                <div class="mt-3 space-y-2">
                    <div class="relative flex">
                        <div class="absolute -left-2 top-2 mr-2 h-1.5 w-1.5 flex-shrink-0 flex-grow-0 rounded-full bg-blue-500 lg:top-2.5"></div>
                        <div class="ml-2 text-sm lg:text-lg">11월 설립</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-4 lg:mx-4 lg:my-0">
        <div class="space-x-3 lg:flex">
            <div class="w-14 text-center text-xl font-bold lg:text-2xl">
                <time datetime="2022">2022</time>
            </div>
            <div class="flex flex-col items-center">
                <span class="hidden lg:inline">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="z-10 h-8 w-8 text-blue-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z">
                        </path>
                    </svg>
                </span>
                <span class="z-10 h-full w-0.5 bg-gray-200 dark:bg-gray-800" aria-hidden="true"></span>
            </div>
            <div class="flex flex-1 flex-col justify-center space-x-4 lg:py-2">
                <div class="h-0.5 w-full bg-gray-300 dark:bg-gray-700 lg:my-2"></div>
                <div class="mt-3 space-y-2">
                    <div class="relative flex">
                    </div>
                </div>
            </div>
        </div>
    </div>
                </div>
            </div>
        </div>
        <div class="hidden w-[180px] flex-none space-y-4 lg:block"></div>
    </div>
</main>

</body>
<th:block th:replace="fragment/footer :: commonFooter">
</th:block>
</html>